.colors{
	display: flex;
	margin-top: 5%;
	margin-bottom: 20%;
}

.color1,
.color2{
	width: 40px;
	height: 16px;

}

.color1{
	background: #cbbeaa;
	margin-right: 10px;
}

.color2{
	background: #534747;
}