/*CUSTOMERS SECTION*/
.customers{
	background: black;
	padding: 5% 0;
	display: flex;
	h2{
		font-size: 32px;
	}
	h2,
	h3{
		color:white;
		letter-spacing: 3px;
	}
}

.customers .line{
	border-color: white;
}

.quote{
	margin: 5% auto;
	max-width: 750px;
	height: 171px;
	background: $brandColor;
	p{
		padding: 50px 50px 0px 50px;
		font-style: italic;
		letter-spacing: 2px;
		line-height: 2;
	}
	.author{
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}
