/*TRENDING SECTION*/
.trending{
	padding-top:5%;
	background: $bgGrey;
	h2{
		font-size: 32px;
		letter-spacing: 3px;
	}
}

.trending p{
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
}

.item2,
.item3,
.item4,
.item5{
	max-height: 285px;
}

.trending .gallery img{
	width: 100%;
}